
data/.DS_Store
.ipynb_checkpoints/LICENSE-checkpoint
.ipynb_checkpoints/MCL_MonthlyStatsPull-checkpoint.ipynb
.ipynb_checkpoints/MCL_MonthlyStatsPull-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
.DS_Store
